{% extends "base.html" %}

{% block content %}

<h1> {{webpage_title}} </h1>

{% if list_of_blogs|length == 0 %}

<p>0 blog entries.</p>

{% else %}

    <ul>
        {% for blog in list_of_blogs %}
        <li>
            <h2 class="listedTitle"> 
                <a href="blogentry?id={{blog.id}}">{{blog.title}}</a>
            </h2>
            <input type="hidden" name="id" value="{{blog.id}}" />
            <span> {{blog.content}} </span>
            <br>
            <span>Written by <a href="mainblog?user={{blog.owner}}"> {{blog.owner}} </a></span>
            <br>
        </li>
        {% endfor %}
    </ul>

{% endif %}

{% endblock %}